body {
    background-color: #121212; /* Fondo oscuro */
    color: white; /* Color del texto */
  }
  
  .container {
    background-color: #121212; /* Fondo oscuro para el contenedor */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para el contenedor */
  }
  
  .list-group-item {
    background-color: #1e1e1e; /* Fondo de los elementos de la lista */
    color: white; /* Color del texto */
    border: 1px solid #333; /* Borde oscuro */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave */
    margin-bottom: 10px; /* Espaciado inferior entre elementos de la lista */
  }
  
  
  .btn-custom {
    background-color: gold; /* Fondo dorado para los botones */
    color: black; /* Texto negro para contraste */
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición suave para el fondo */
    margin-top: 10px; /* Espaciado superior para los botones */
  }
  
  .btn-custom:hover {
    background-color: #ffd700; /* Color dorado más brillante al pasar el mouse */
  }
  
  /* Personaliza los campos de entrada */
  .form-control {
    background-color: #1e1e1e; /* Fondo oscuro para los campos de entrada */
    color: white; /* Color del texto */
    border: 1px solid #333; /* Borde oscuro */
    margin-bottom: 15px; /* Espaciado inferior para los campos de entrada */
    padding: 10px; /* Espaciado interno en los campos de entrada */
    border-radius: 5px; /* Esquinas redondeadas en los campos de entrada */
  }
  
  .form-control::placeholder {
    color: #aaa; /* Color para el texto del placeholder */
  }
  
  .mt-2 {
    margin-top: 20px; /* Espacio entre la información del jugador y el formulario */
  }
  