<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-dark text-light">
    <img src="assets/images/balon_dor.jpg" alt="Balón de Oro" class="img-fluid mb-4" style="max-width: 200px;">
    <h1 class="text-center mb-4">Bienvenido a la página del Balón de Oro de Sinabro PCAH CF</h1>
    <p class="text-center mb-5">Aquí puedes consultar el calendario de partidos para votar por el balón de oro y ver el
        ranking de los jugadores.</p>

    <!-- Botones de navegación -->
    <div class="d-grid gap-3">
        <button class="btn btn-warning btn-lg" routerLink='/equipos'>Calendario de Partidos</button>
        <button class="btn btn-warning btn-lg" routerLink='/ranking'>Ranking de Jugadores</button>
    </div>
</div>